In [1]:
import numpy as np
import pandas as pd
from sklearn import linear_model

In [2]:
df = pd.read_csv("Home Prices.csv")

In [3]:
df.head()

   Area  Bedrooms  Age   Price
0  2600       3.0   20  550000
1  3000       4.0   15  565000
2  3200       NaN   18  610000
3  3600       3.0   30  595000
4  4000       5.0    8  760000

In [4]:
import math  # to have integer value

In [6]:
median_Bedrooms = math.floor(df.Bedrooms.median())
median_Bedrooms

4

In [11]:
# to fill the NaN (empty cell) with the median value

df.Bedrooms = df.Bedrooms.fillna(median_Bedrooms)

In [12]:
df

    Area  Bedrooms  Age   Price
0   2600       3.0   20  550000
1   3000       4.0   15  565000
2   3200       4.0   18  610000
3   3600       3.0   30  595000
4   4000       5.0    8  760000
5  41000       6.0    8  810000

In [14]:
reg = linear_model.LinearRegression()

In [18]:
reg.fit(df[['Area','Bedrooms','Age']],df.Price)

LinearRegression()

In [19]:
reg.coef_

array([-7.90341050e-01,  1.26778753e+05,  5.27403590e+03])

In [20]:
reg.intercept_

40627.866130369366

In [25]:
# To predict the Price of the house with the Area = 3000 , Bedrooms = 3, Age = 40

reg.predict([[3000, 3, 40]])

array([629554.5380684])

In [26]:
# Multiplying the coeff. with the user defined Area, Bedrooms, Age

-7.90341050e-01*3000 + 1.26778753e+05*3 +  5.27403590e+03*40

588926.6718499999